body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .bg-white {
  background-color: #1e1e1e;
}

.dark-mode .text-gray-500 {
  color: #b0b0b0;
}

.dark-mode .text-gray-900 {
  color: #e0e0e0;
}

.dark-mode .hover\:bg-gray-50:hover {
  background-color: #2e2e2e;
}

.dark-mode .hover\:text-gray-900:hover {
  color: #ffffff;
}
